@import "bootstrap-sprockets";
@import "bootstrap";

form
{
	display: inline;
}
td
{
	padding-left:10px !important;
	padding-right: 10px !important;
	padding-bottom : 5px !important;
	max-width:300px !important;
}

.centered-table
{
	display:inline-block;
}

body
{
	background-color: #e0e0e0;
}

.navbar
{
	min-width:600px !important;
}