@import "bootstrap-sprockets";
@import "bootstrap";

form
{
	display: inline;
}
td
{	padding-bottom: 5px !important;
	padding-right : 10px !important;
	padding-left : 10px !important;
	max-width:320px !important;
}

.centered-table
{
	display:inline-block;
}

body
{
	background-color: #e0e0e0;
}

td.name_movie
{
	max-width:50px !important;
}
a.btn-default
{
	width:90px;
	height:30px;
}

table.centered-table
{
	margin-top:10px;
}